# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv
venv/
env/

# Node / Frontend
node_modules/
dist/
.vite/

# Sistema
.DS_Store
Thumbs.db
desktop.ini

# Claves (nunca subir)
*.key
.env
.env.local
.env.production
